@model FutureValueModel
@{
    Layout = "_Layout"; // skips using the _layout view
    ViewBag.Title = "Future Value Calculator";
}
<!DOCTYPE html>
@*doctype selects newest version of html, you can use older versions for users but that requires extra code*@

<h1>Future Value Calculator</h1>@*h1 h2-6 displays text inside, h1 has a default as biggest font size, downsizing is 2 thru 6, all h is black font default*@
<form asp-action="Index" method="post">
    <div>
        <label asp-for="MonthlyInvestment">Monthly Investment:</label>
        <input asp-for="MonthlyInvestment" />
    </div>
    <div>
        <label asp-for="YearlyInterestRate">Yearly Interest Rate:</label>
        <input asp-for="YearlyInterestRate" />
    </div>
    <div>
        <label asp-for="Years">Number of Years:</label>
        <input asp-for="Years" />
    </div>
    <div>
        <label>Future Value:</label>
        <input value="@ViewBag.FV.ToString("C2")" readonly />
    </div>
    <button type="submit">Calculate</button>
    <a asp-action="Index">Clear</a>
</form>







